*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: montserrat;
}
body{
	background: rgb(0,204,102);
}
.container{
	background: #f5f5f5;
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;
}
.header{
	text-align: center;
}
.header h1{
	margin-bottom: 10px;
}
.header h3{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.img-area{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 12px auto;
	border: 15px groove deepskyblue;
}
.img-area img{
	width: 100%;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.left{
	flex:1;
	padding: 30px;
}
.left p{
	line-height: 2;
}
.left ul li{
	line-height: 2;
}
h2{
	background: rgb(0,204,102);
	padding: 15px;
	color: #fff;
	margin: 30px 0;
	font-size: 20px;
	border-radius: 0 50px 50px 0;
}
.right{
	flex: 1;
	padding: 30px
}
.right h3{
	margin-bottom: 15px;
}
.right p{
	line-height: 2.9;
}
.right ul li{
	line-height: 2;
}
.enregistrer{
	color: #fff;
	font-size: 20px;
	border-radius: 200px;
	margin: 8px 30px;
	padding: 5px;
	background: rgb(0,204,102);
}
.hors{
	color: #fff;
	font-size: 20px;
	border-radius: 30%;
	margin: 0px 600px;
	padding: 4px;
	background: rgb(204,0,0);
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.container{
		width: 95%;
		height: auto;
	}
	h2{
		font-size: 18px;
	}
}
@media screen and (max-width: 600px){
	.main{
		flex-direction: column;
	}
	.left,.right{
		flex: none;
		width: 100%;
	}
	.container{
		width: 95%;
		height: auto;
	}
	h2{
		font-size: 15px;
	}
}