#b1{
	margin: 0;
    padding: 0;
    background: url(bg.jpg) fixed no-repeat center;
    background-size: cover; 
    font-family: sans-serif;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.loginbox1{
	width: 320px;
	height: 540px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox1 p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox1 input{
	width: 100%;
	margin-bottom: 20px;
}
.input{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox1 input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox1 input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover{
	color: #ffc107;
}
.loginbox1 a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox1 a:hover{
	color: #ffc107;
}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#b2{ 
    background: url(bg.jpg) fixed no-repeat center;
    background-size: cover;
    font-family: sans-serif;
 }
 .banner{
 	display: block;
 	background: #FCCE0C;
 	color: #fff;
 	height: 75px;
 	width: 100%;
 }
.deconnection{
	text-decoration: none;
	font-size: 17px;
	font-weight: 520;
	display: block;
    padding-top: 27px;
    padding-left: 610px;
    color: rgb(114, 110, 108);
	}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	background: rgb(50,50,50);
	color: #fff;
	text-align: center;
	top: 70px;
	left: 25%;
	position: absolute;
	transform: translate(-50%,-50%);
	border-spacing: 20px;
	box-sizing: border-box;
	margin-top: 50px;
	margin-left: 25%;
	border-radius: 5px;
	opacity: .8;
}
.menu-bar ul li{
	width: 160px;
	margin: 5px;
	padding: 10px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
.active, .menu-bar ul li:hover{
	background: #FCCE0C;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

.search{
	float: right;
}
.search  input[type=search]{
	padding: 4px;
	margin-top: 25px;
	border: none;
	font-size: 17px;
	border-radius: 3px 0 0 3px;
}
.search button{
	float: right;
	padding: 4px;
	margin-top: 25px;
	font-size: 17px;
	margin-right: 16px;
	border: none;
	border-radius: 0 3px 3px 0;
	background-color: #ddd;
	cursor: pointer;
}
.search button:hover{
	background: #ffc107;
	color: #fff;
}
.banner .logo{
	flex: 1;
	float: left;
	padding: 8px;
	margin: 10px;
	color: #fff;
	font-size: 32px;
	font-weight: 500;

}
.contenu{
	width: 520px;
	height: 275px;
	background: #fff;
	color: #000;
	top: 65%;
	left: 40%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}
.contenu h2{
	color: #FCCE0C;
	font-size: 30px;
	font-weight: 700;
}
.contenu h3{
	font-weight: 520;
}
.contenu p{
	font-size: 18px;
}
.footer{
	margin-top: 70%;
	text-align: center;
	display: block;
	background-color: rgb(50,50,50); 
	height: 50px;
 	width: 100%;
}
.footer p{
	color: #fff;
	font-weight: bold;
	position: relative;
	top: 18px;
}
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#b3{ 
    background-color: #ddd;
    font-family: sans-serif;
 }
.pro{
	width: 500px;
	height: 700px;
	background: #fff;
	color: #000;
	top: 98%;
	left: 494px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}
.pro label{
	width: 140px;
	display: inline-block;
	text-align: right;
}
.pro1{
	width: 500px;
	height: 800px;
	background: #fff;
	color: #000;
	top: 109%;
	left: 494px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}
.pro1 label{
	width: 140px;
	display: inline-block;
	text-align: right;
}
.pro2{
	width: 550px;
	height:600px;
	background: #fff;
	color: #000;
	top: 75%;
	left: 520px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}
.pro2 label{
	width: 140px;
	display: inline-block;
	text-align: right;
}
.pr2 input{
	margin-left: 10px;
}
.title p{
	flex: 1;
	margin-top: 110px;
	margin-left: 19%;
	color: #FCCE0C;
	font-size: 32px;
	font-weight: 510;
}
.menu ul{
	display: inline-flex;
	list-style: none;
	background: #fff;
	color: #fff;
	text-align: center;
	top: 120px;
	left: 106px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	margin-top: 150px;
	margin-left: 25%;
}
.menu ul li{
	width: 200px;
	padding: 15px;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}
.actif{
	color: #fff;
	background: #fb2525;
	cursor: pointer;
}

.box{
	width: 190px;
	background-color: #fff;
	border: 2px solid rgb(114, 110, 108);
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	margin-left: 5px;
}
.box1{
	width: 124px;
	background-color: #fff;
	border: 2px solid rgb(114, 110, 108);
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	margin-left: 5px;
}
.box2{
	width: 80px;
	background-color: #fff;
	border: 2px solid rgb(114, 110, 108);
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	margin-left: 5px;
}
.button{
	margin-right: 90px;
	float: right;
	margin-left: 50px;
	border: none;
	outline: none;
	width: 100px;
	height: 35px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}


